<div class="row">
 <h2>Utilities</h2>
   <div>
      <h3><%= link_to "Fans", fans_path %></h3>
  </div>
  <hr/>
  <div>
      <h3><%= link_to "Users", users_path %></h3>
  </div>
  <hr/>
  <div>
    <h3><%= link_to "Current order counts", books_order_count_path %></h3>
  </div>
  <hr/>
  <div>
    <h3><%= link_to "Order Fulfillment", fulfillment_index_path %></h3>
  </div>
  <hr/>
  <% if can? :upload_data %>
  <div>
    <h3>Import New Release File</h3>
    <%= form_tag import_newreleases_path, multipart: true do  %>
    <%= file_field_tag :file %><br/>
    <%= submit_tag "Upload", data: { confirm: "This will remove current data and replace with this file.\nContinue?"} %>
    <% end %>
  </div>
  <hr>
  <div>
    <h3>Import New Series File</h3>
    <%= form_tag newseries_import_path, multipart: true do  %>
    <%= file_field_tag :file %><br/>
    <%= submit_tag "Upload", data: { confirm: "This will remove current data and replace with this file.\nContinue?"}  %>
    <% end %>
  </div>
  <hr>
  <div>
    <h3>Upload Subscriber List</h3>
    <%= form_tag subscribers_import_path, multipart: true do  %>
    <%= file_field_tag :file %><br/>
    <%= submit_tag "Upload", data: { confirm: "This will remove current data and replace with this file.\nContinue?"}  %>
    <% end %>
  </div>
  <hr> 
    <div>
    <h3>Upload Book List</h3>
    <%= form_tag books_import_path, multipart: true do  %>
    <%= file_field_tag :file %><br/>
    <%= submit_tag "Upload", data: { confirm: "This will remove current data and replace with this file.\nContinue?"}  %>
    <% end %>
  </div>
  <hr>
    <div>
    <h3>Upload Relationship List</h3>
    <%= form_tag relationships_import_path, multipart: true do  %>
    <%= file_field_tag :file %><br/>
    <%= submit_tag "Upload", data: { confirm: "This will remove current data and replace with this file.\nContinue?"}  %>
    <% end %>
  </div>
  <hr>
  <% end %>
</div>
