<div>
  <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <div>
    <h2>Current Users</h2>
    <h3>Total Users: <%= @users.count %></h3>
      <table> 
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user)  %></td>
        <td><%=user.full_name %></td>
        <td><%= user.city %></td>
        <% if can? :destroy, User %>
        <td><%= link_to "Delete User" , user_path(user), :method => :delete, :data => {:confirm => "This will permenently delete #{user.email}\nAre you sure?"} %></td>
        <% end %>
      </tr>
  
      <% end %>
    </table>
  </div>
</div>