<p id="notice"><%= notice %></p>
<div>
      <table>
        <tr>
          <td>First Name</td>
          <td><%= @fan.f_name %></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><%= @fan.l_name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @fan.email %></td>
        </tr>
      </table>
</div>

<%= link_to 'Edit', edit_fan_path(@fan) %> |
<%= link_to 'New', new_fan_path %>
