<div>
  <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <div>
    <h2>Current Book List</h2>
    <div class="row">
      <div class="large-3 column">
        <h6>Total Books: <%= @books.count %></h6>
        <% if can? :add_book %>
          <h6><%= button_to "Add Book", new_book_path, method: :get, class: "button success" %> </h6>
        <% end %>
      </div>
      <div class="large-3 column">
        <%= search_form_for @search do |f| %>
          <div class="field">
            <%= f.label :title_cont, "Title Contains" %>
            <%= f.text_field :title_cont %>
            <%= f.submit "Search", :class => "button success" %>
            
          </div>
         <% end %>
      </div>
      <div class="button-group large-3 column">
        <h6>Sort by Acive status:</h6>
        <%= button_to "All", books_status_path({:active => 'all'}), class: "button success" %>
        <%= button_to "True", books_status_path({:active => 'true'}), class: "button success" %>
        <%= button_to "False", books_status_path({:active => 'false'}), class: "button success" %>
      </div>

    </div>

    <table> 
      <tr>
        <th>Title</th>
        <th>Stock Quantity</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Active?</th>
      </tr>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.stock_quantity %></td>
          <td><%= button_to "Change Stock Quantity", edit_book_path(book), class: "button info", method: :get %></td>
          <td><%= button_to "Add Subscribers", book_subscribers_add_path(:id => book.id), class: "button info" %></td>
          <% if book.subscribers.count > 0 %>
            <td><%= button_to "Edit Subscribers", book_subscribers_edit_path(id: book.id), class: "button info" %></td>
          <% else %>
            <td></td>  
          <% end %>
          <% if can? :suspend, Book %>
            <% if book.active %>
              <td><%= button_to "Suspend Book" , book_path(book), 
                      :method => :delete, :data => {:confirm => "This will make #{book.title} inactive.\nAre you sure?"},
                      :class => "button warning" %></td>
            <% else %>
              <td><%= button_to "Activate Book" , book_path(book, {:book => {:active => true}, :reactivate => true}), 
                      :method => :patch, :data => {:confirm => "This will make #{book.title} active.\nAre you sure?"},
                      :class => "button info" %></td>
            <% end %>
          <% end %>
   
          </tr>
        <% end %>
    </table>
  </div>
</div>
</div>

