<div class="large-12 columns">
  <h1>Merge Book Subscriptions</h1>
  <h2><%= @book.title %></h2>
  <p>Choose another book to merge with.  By merging subscription lists, the two books will have identical lists, with the exception of quantity.
      If each has a book has the same subscriber, the quantity will not change.</p>
    <div>
      <div class="large-10 columns">
        <%= fields_for :search do %>
          <%= label_tag :search %>
          <%= text_field_tag :search %>
        <% end %>
      </div>
      <div>
        <%= form_tag("/book_subscribers/merge", method: "post") do %>
          <%= hidden_field_tag(:id, @book.id) %>
          <table class="search_table"> 
            <tr>
              <th>Merge with:</th>
              <th>Title</th></th>
              <th>Subscriber Count</th>
            </tr>
            <% @books.each do |book| %>
              <% if @book.id != book.id %>
                <tr>
                  <td><%= radio_button_tag(:selected, book.id) %></td>
                  <td><%= book.title %></td>
                  <td><%= book.subscribers_books.count %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
          <%= submit_tag  "Merge Subscriptions", :class => "button success clear" %>
        <% end %>
      </div>
    </div>
  </div>
</div>