<div class="row">
  <h2>Current Order Count</h2>
  <h3>Book Titles: <%= @books.count %></h3>
  <h3>Total Books: <%= @total_quantity %></h3>
  <table> 
    <tr>
      <th>Title</th>
      <th>Subscriptions</th>
      <th>Stock</th>
      <th>Total</th>
      <th>Notes</th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= @sub = book.subscribers_books.sum(:quantity) || 0%></td>
        <td><%= @store = book.stock_quantity || 0 %></td>
        <td><%= book.order_quantity %></td>
        <td><%= book.notes %></td>
      </tr>
    <% end %>
  </table>
</div>
