<div>
  <p id="notice"><%= notice %></p>
</div>
<div class="row">
    <div class="button-group">
      <%= button_to 'Back to Index', books_path, method: :get, :class => "button info" %>
      <%= button_to 'Edit Details', edit_book_path(@book), method: :get, :class => "button info" %>
      <%= button_to "Edit Subscriptions", book_subscribers_edit_path(:id => @book.id), :class => "button info" %>
      <%= button_to "Add Subscribers", {:controller => "book_subscribers", :action => "new", :id => @book.id}, :class => "button info" %>
      <%= button_to "Change Stock Quantity", edit_book_path(@book), class: "button info", method: :get %>
      <%= button_to "Merge Subscriptions", book_subscribers_combine_path(:id => @book.id), :class => "button info" %>
    </div>
    <div class="button-group">
      <%= button_to "<< Previous", book_path(@book.previous_book), :method => :get, :class => "button success"  %> 
      <%= button_to "Next >>", book_path(@book.next_book), :method => :get, :class => "button success" %>
    </div>
    <h1>Book Details</h1>
  <div>
    <table>
      <tr>
        <td>Title</td>
        <td><%= @book.title %></td>
      </tr>
      <tr>
        <td>Stock Quantity</td>
        <td><%= @book.stock_quantity %></td>
      </tr>
      <tr>
        <td>Notes</td>
        <td><%= @book.notes %></td>
      </tr>
      <tr>
        <td>Active</td>
        <td><%= @book.active %></td>
        <td><% if @book.active %>
              <%= button_to "Suspend Book" , book_path(@book), 
                  :method => :delete, :data => {:confirm => "This will make #{@book.title} inactive..\nAre you sure?"}, 
                  :class => "button warning" %></td>
            <% else %>
              <td><%= button_to "Activate Book" , book_path(@book, {:book => {:active => true}, :reactivate => true}), 
                      :method => :patch, :data => {:confirm => "This will make #{@book.title} active..\nAre you sure?"}, 
                      :class => "button info" %></td>
            <% end %>
      </tr>
    </table>
  </div>

  <hr/>
  <div>
    <h2>Subscribers for this book</h2>
    <h3>Subscriber count: <%= @book.subscribers.count %></h3>
    <div>
     <table>
       <tr>
         <th>Subscriber Name</th>
         <th>Quantity</th>
       </tr>
       <% @book.subscribers.order(:last_name).each do |subscriber| %>
         <tr>
           <td><%= link_to subscriber.full_name, subscriber_path(subscriber) %></td>
           <td><%= subscriber.subscribers_books.find_by(book_id: @book.id).quantity %></td>
          </tr>
       <% end %>
      </table>
    </div>
  </div>
</div>
