<div>
  <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <h1>Book Details</h1>
  <h4><%= link_to "Previous", book_path(@book.previous_book) %> |
  <%= link_to "Next", book_path(@book.next_book) %></h4>
  <div>
    <table>
      <tr>
        <td>Title</td>
        <td><%= @book.title %></td>
      </tr>
      <tr>
        <td>Index</td>
        <td><%= @book.index %></td>
      </tr>
      <tr>
        <td>Notes</td>
        <td><%= @book.notes %></td>
      </tr>
      <tr>
        <td>Active</td>
        <td><%= @book.active %></td>
      </tr>
    </table>
  </div>
  <div>
    <h4>
      <%= link_to 'Edit', edit_book_path(@book) %> |
      <%= link_to 'Back', books_path %>
    </h4>
  </div>
  <hr/>
  <div class="button-group">
    <h4>Store Stock Order Quantity: <%= @book.stock_quantity %></h4>
    <%= button_to "Change Stock Quantity", edit_book_path(@book), class: "button info", method: :get %>
  </div>
  <hr>
  <div>
    <h2>Subscribers for this book</h2>
    <h3>Subscriber count: <%= @book.subscribers.count %></h3>
    <div>
     <table>
       <tr>
         <th>Subscriber Name</th>
         <th>Quantity</th>
       </tr>
       <% @book.subscribers.order(:last_name).each do |subscriber| %>
         <tr>
           <td><%= link_to subscriber.full_name, subscriber_path(subscriber) %></td>
           <td><%= subscriber.subscribers_books.find_by(book_id: @book.id).quantity %></td>
          </tr>
       <% end %>
      </table>
    </div>
  </div>
</div>
