<%= form_for(@subscriber) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <table>
      <tr>
        <td><%= f.label "First Name:" %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label "Last Name:" %></td>
        <td><%= f.text_field :last_name %></td>
      </tr>
      
      <tr>
        <td><%= f.label "Active:" %></td>
        <td><%= f.check_box :active %></td>
      </tr>
      <tr>
        <td><%= f.label "Email:" %></td>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label "Address:" %></td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td><%= f.label "City:" %></td>
        <td><%= f.text_field :city %></td>
      </tr>
      <tr>
        <td><%= f.label "State:" %></td>
        <td><%= f.text_field :state %></td>
      </tr>
      <tr>
        <td><%= f.label "Zip:" %></td>
        <td><%= f.text_field :zip %></td>
      </tr>
      <tr>
        <td><%= f.label "Home Phone:" %></td>
        <td><%= f.telephone_field :home_phone %></td>
      </tr>
      <tr>
        <td><%= f.label "Work Phone:" %></td>
        <td><%= f.telephone_field :work_phone %></td>
      </tr>
      <tr>
        <td><%= f.label "Mobile Phone:" %></td>
        <td><%= f.telephone_field :mobile_phone %></td>
      </tr>
      <tr>
        <td><%= f.label "Type:" %></td>
        <td><%= f.text_field :subscriber_type %></td>
      </tr>
      <tr>
        <td><%= f.label "On Mailing List:" %></td>
        <td><%= f.text_field :mail_list %></td>
      </tr>
      <tr>
        <td><%= f.label "Notes:" %></td>
        <td><%= f.text_area :notes %></td>
      </tr>
    </table>

  </div>

    <%= f.submit "Commit", :class => "button success" %>
  
<% end %>
