<div class="large-12 columns">
  <h1>Edit Subcriptions for <%= @subscriber.full_name %></h1>
  <h3>Book Count: <%= @subscriber.active_subscriptions %></h3>
  <%= form_tag("/subscriptions/update", method: "post") do %>
    <%= hidden_field_tag(:subscriber_id, @subscriber.id) %>
  </div>
  <hr/>
  <div class="large-10 columns">
      <%= fields_for :search do%>
        <%= label_tag :search %>
        <%= text_field_tag :search %>
      <% end %>
    <table id="table"> 
    <thead>
      <tr>
        <th>Order Quantity</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% @subscriber.books.where('active = ? ', :true).order(:title).each do |book| %>
        <tr>
          <td><%= label_tag(:q, "Quantity:") %>
              <%= number_field(:q, book.id, :step => 1, :min => 0, :value => @subscriber.book_quantity(book)) %></td>
          <td><%= link_to book.title, book_path(book) %></td>
      <% end %>
    </tbody>
    </table>
  </div>
  <div class="large-2 columns">
    <%= submit_tag "Commit Changes", :class => 'success button' %>
    <% end %>
  </div>
</div>
