<div class="large-12 columns">
  <h1>Merge Subscriptions</h1>
  <h2><%= @subscriber.full_name %></h2>
  <p>Choose another subscriber to merge with.  By merging subscription lists, the two subscribers will have identical lists, with the exception of quantity.
      If each has a subscription to the same book, the quantity will not change.</p>
    <div>
      <div class="large-10 columns">
        <%= fields_for :search do%>
          <%= label_tag :search %>
          <%= text_field_tag :search %>
        <% end %>
      <div>
        <%= form_tag("/subscriptions/merge", method: "post") do %>
          <%= hidden_field_tag(:subscriber, @subscriber.id) %>
          <table class="search_table"> 
            <tr>
              <th>Merge with:</th>
              <th>Name</th></th>
              <th>Book Quantity</th>
            </tr>
            <% @subscribers.each do |subscriber| %>
              <% if @subscriber.id != subscriber.id %>
                <tr>
                  <td><%= radio_button_tag(:selected, subscriber.id) %></td>
                  <td><%= subscriber.full_name %></td>
                  <td><%= subscriber.subscribers_books.count %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
          <%= submit_tag  "Merge Subscriptions", :class => "button success clear" %>
        <% end %>
      </div>
    </div>
  </div>
</div>