<div>
  <p id="notice"><%= notice %></p>
</div>
<div class="large-12 columns">
    <div class="button-group">
      <%= button_to 'Back to Index', subscribers_path, method: :get, :class => "button info" %>
      <%= button_to 'Edit Details', edit_subscriber_path(@subscriber),method: :get, :class => "button info" %>
      <%= button_to "Edit Subscriptions", subscriber_edit_subscriptions_path(:id => @subscriber.id), :class => "button info" %>
      <%= button_to "Add Books", {:controller => "subscriptions", :action => "new", :subscriber => @subscriber.id}, :class => "button info" %>
    </div>
    <div class="button-group">
      <%= button_to "<< Previous", subscriber_path(@subscriber.previous_subscriber), :method => :get, :class => "button success" %> 
      <%= button_to "Next >>", subscriber_path(@subscriber.next_subscriber), :method => :get, :class => "button success" %>
    </div>
    <h1>Subscriber Details</h1>
  <div>
    <table>
      <tr>
        <td>Name</td>
        <td><%= @subscriber.full_name %></td>
      </tr>
      <tr>
      <td>Email</td>
        <td><%= @subscriber.email %></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><%= @subscriber.address %></td>
      </tr>
      <tr>
        <td>City</td>
        <td><%= @subscriber.city %></td>
      </tr>
      <tr>
        <td>Zip</td>
        <td><%= @subscriber.f_zip %></td>
      </tr>
      <tr>
        <td>Home Phone</td>
        <td><%= @subscriber.f_home_phone %></td>
      </tr>
      <tr>
        <td>Work Phone</td>
        <td><%= @subscriber.f_work_phone %></td>
      </tr>
      <tr>
      <td>Mobile Phone</td>
        <td><%= @subscriber.f_mobile_phone %></td>
      </tr>
      <tr>
        <td>Start Date</td>
        <td><%= @subscriber.start_date %></td>
      </tr>
      <tr>
        <td>Mailing List</td>
        <td><%= @subscriber.mail_list %></td>
      </tr>
      <tr>
        <td>Type</td>
        <td><%= @subscriber.subscriber_type %></td>
      </tr>
      <tr>
        <td>Last Updated</td>
        <td><%= @subscriber.updated_at %></td>
      </tr>
      <tr>
        <td>Active</td>
        <td><%= @subscriber.active ? "Active" : "Suspended" %></td>
        <td><% if @subscriber.active %>
              <%= button_to "Suspend Subscriber" , subscriber_path(@subscriber), 
                  :method => :delete, :data => {:confirm => "This will make #{@subscriber.full_name} inactive..\nAre you sure?"}, 
                  :class => "button warning" %></td>
            <% else %>
              <td><%= button_to "Activate Subscriber" , subscriber_path(@subscriber, {:subscriber => {:active => true}, :reactivate => true}), 
                      :method => :patch, :data => {:confirm => "This will make #{@subscriber.full_name} active..\nAre you sure?"}, 
                      :class => "button info" %></td>
            <% end %>
      </tr>
    </table>
  </div>
  <hr/>
  <div>
    <h2>Current Subscriptions</h2>
    <h4>Subscription count: <%= @subscriber.active_subscriptions %><br/></h4>
    <div>
      <table>
        <tr>
          <th>Book Name</th>
          <th>Quantity</th>
        </tr>
        <% @subscriber.books.order(:title).each do |book| %>
        <% if book.active? %>
          <tr>
            <td><%= link_to book.title, book_path(book) %></td>
            <td><%= @subscriber.book_quantity(book) %></td>
          </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>


