<div class="row">
  <%= image_tag("the-header-2014-09-08.png") %>
  <hr/>
  <% if current_user && current_user.can_view? %>
    <ul class="breadcrumbs large-6 columns">
      <li><%= link_to "New Releases", newreleases_path %></li>
      <li><%= link_to "New Series", newseries_index_path %></li>
      <li><%= link_to "Subscribers", subscribers_path %></li>
      <li><%= link_to "Books", books_path %></li>
      <li><%= link_to "Relationships", relationships_path %></li>
      <li><%= link_to "Utilities", utilities_path %></li>
    </ul>
  <% end %>
  <% if current_user %>
    <ul class="breadcrumbs large-2 columns">
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></li>
    </ul>
    <%= current_user.email %></br>
    <%= current_user.user_type %>
    <hr/>
  <% end %>
  
</div>